.heading-container {
    display: flex;
    background: #87ceeb;
    height: 200px;
    color: white;
    text-align: center;
    flex-direction: column;
    box-shadow: inset 0px 3px 20px 4px rgba(0, 0, 0, 0.3);
}

.heading-container .heading {
    font-size: 28px;
    margin-bottom: 10px;
}

.section {
    padding: 20px 5px;
}