/* The header div for the showcase image. */
 .header-section {
    height: 500px;
    background-image: url('../img/showcase-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* This is a flex boxed container for holding header-section contents. */
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 500px;
  }

  /* Styling the header of the header section. */
 .header-section  .header {
   width: 80%;
   text-align: center;
   color: white;
   font-size: 50px;
   font-weight: 300;
 }

 /* The default styling of the description */
 .header-section .description {
  font-size: 20px;
  padding: 20px;
  color: white;
  width: 50%;
 }

 /* The styling of CTA signup button. */
 .header-section .signup-btn {
   padding: 15px 30px;
   font-size: 16px;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }



/* For Complete showcase */
/* When the screen width is less than 750 pixels but greater than 450 pixels.
   Increase the width of header and description */
@media only screen and (max-width: 750px) and ( min-width: 450px){
  .header-section  .header {
    width: 100%;
    font-size: 45px;
  }

  .header-section  .description {
    width: 100%;
    font-size: 25px;
  }
}

/* For Complete showcase */
/* When the screen width is less than 450px 
  Optimizing it by making font size less.*/
@media only screen and (max-width: 450px){
  .header-section  .header {
    width: 100%;
    font-size: 35px;
  }

  .header-section  .description {
    width: 100%;
    font-size: 20px;
  }
}