@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.grid-box {
  padding: 20px 0px;
  display: grid;
  width: 100%;
  grid-template-areas: 
    "reports-info reports-info reports-info new-report-btn"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info ."
    "reports-info reports-info reports-info ."
}

.reports-info {
  grid-area: reports-info;
  border: 1px solid lightskyblue;
}

.new-report-btn {
  grid-area: new-report-btn;
  position: sticky;
  position: -webkit-sticky;
  top:15px;
}

.report-statistics {
  grid-area: report-statistics;
  position: sticky;
  position: -webkit-sticky;
  top:90px;
  display: flex;
  border: 1px solid lightskyblue;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;

}

.reports-info .summary-info-heading {
  display: flex;
  color: white;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background: lightskyblue;
  opacity: 0.6;
}
.info {
  padding: 5px 15px;
}

.info .number-badge {
  font-size: 20px;
}

.info > p {
  font-size: 14px;
  font-weight: 600;
}

.heading-info {
  padding: 10px;
  margin: 10px;
  width: 95%;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px auto;
  background-color: #dbf0fd;
  position: relative;
} 


.heading-info i {
  font-size: 30px;
  padding: 5px;
}

.heading-info .heading {
  position: absolute;
  top:9px;
  font-weight: bold;
  left: 50px;
}

.heading-info .desc {
  position: absolute;
  bottom: 9px;
  left: 50px;
}

.new-report-btn {
  padding: 10px;
  margin-left: 10px;
  height: 60px;
  background-color: #dbf0fd;
}

.new-report-btn .report-btn {
  padding: 10px 20px;
  width: 90%;
  background-color: skyblue;
  font-size: 15px;
  margin: auto;
}


.statistics {
  height: 130px;
}

.statistics > div {
  height: 110px;
}

.statistics > p {
  text-align: center;
}

.canvasjs-chart-credit {
  display: none;
}


.report {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  cursor: pointer;
  align-items: center ;
  justify-content: space-evenly;
} 

.report > .report-info  {
  flex: 1;
  padding-left: 10px;
}

.report > .report-id {
  color: skyblue;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #dfdfdf;
  padding: 10px;
}


.report > .report-id > .id {
  font-size: 20px;
}

.report .report-name {
  padding-bottom: 5px;
  font-weight: bolder;
}

.report > .report-type-priority {
  font-size: 10px;
  padding-left: 5px;
}

.report  .badge-wrapper {
  display:flex;
  padding-left: 3px;
  border-radius: 5px; 
  justify-content: space-around;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.report-type-priority > .badge-wrapper:first-child{
  margin-bottom: 10px;
}

.report .badge-wrapper > .report-type-label, .report-priority-label {
  padding: 3px;
}

.badge {
  padding: 3px 5px;
  border-radius: 5px;
}

.high {
  background-color: #cc0000;
}
.med {
  background-color: darkgoldenrod;
}
.low {
  background-color: green;
}

.bug {
  background-color: #cc0000;
}

.feature  {
  background-color: green;
}

.feature > i::after {
  font-style: normal;
  content: "\f013";
  font-family: 'FontAwesome';
}

.bug > i::after {
  font-style: normal;
  content: "\f188";
  font-family: 'FontAwesome';
}

@media only screen and (max-width: 1240px) {
 #page-body {
   width:100%;
   padding-left: 30px;
   padding-right: 30px;
 }
}

@media only screen and (max-width: 800px) {
  .heading-info > .desc {
    display: none;
  }
  .heading-info > .heading {
    top: 20px;
  }
}

@media only screen and (max-width: 690px) {
  .grid-box {
    grid-template-areas: 
    "new-report-btn new-report-btn new-report-btn new-report-btn"
      "report-statistics report-statistics report-statistics report-statistics"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
  }

  .report-statistics {
    margin-left: 0;
  }

  .new-report-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .new-report-btn {
    position: inherit;
  }
  .report-statistics {
    position: inherit;
  }

  .reports-info{
    margin-top: 20px;
  }

  .report-statistics .statistics  {
    width: 100%;
  }

}

@media only screen and (max-width: 400px ) {
  .badge-wrapper > .report-type-label, .report-priority-label{
    display: none;
    }
    
  .badge-wrapper .badge{
    flex: 1;
  }
  .report-info > .report-desc {
    display: none;
  }
}