.profile-img {
 width: 40px;
 height: 40px;
 border: 1px solid gray;
 border-radius: 20px;
}

.number-badge {
  font-weight: bolder;
  font-style: normal;
  font-size: 18px;
}

nav .branding .profile-img {
  display: none;
}

@media only screen and (max-width: 780px ) {
  
  #profile-img-li {
    display: none;
  }
  
  nav .branding .profile-img {
    display: block;
  }
  
  nav .branding {
    width: 100%;
    display:flex;
    justify-content: space-between;
  }

  .branding {
    margin-bottom: 10px;
  }

/* Displaying the toggler */
nav .nav-toggler {
  display: block;
}

/* Positioning the arrow to the bottom middle edge of navbar. */
nav .nav-toggler > a {
  position: absolute;
  bottom: -40px;
  left: -20px;
}

/* Making the navlist to show navlinks as column. */
nav .navlist {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

/* Making the columned navlist visually perfect */
nav .navlist li {
  padding: 10px;
  border-top: 1px solid gray;
}

/* Making the whole nav to show as column. */
nav {
  flex-direction: column;
}

/* Making the conainer to be 100% to make use of the available space. */
.navbar .container {
  width: 100%;
  }
}


.grid-box {
  padding: 20px 0px;
  display: grid;
  width: 100%;
  grid-template-areas: 
    "reports-info reports-info reports-info new-report-btn"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
    "reports-info reports-info reports-info report-statistics"
}

.reports-info {
  grid-area: reports-info;
  border: 1px solid lightskyblue;
}

.new-report-btn {
  grid-area: new-report-btn;
}

.report-statistics {
  grid-area: report-statistics;
  display: flex;
  border: 1px solid lightskyblue;
  /* margin-top: 10px; */
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;

}

.reports-info .summary-info-heading {
  display: flex;
  color: white;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background: lightskyblue;
  opacity: 0.6;
}
.info {
  padding: 5px 15px;
}

.info .number-badge {
  font-size: 20px;
}

.info > p {
  font-size: 14px;
  font-weight: 600;
}

.heading-info {
  padding: 10px;
  margin: 10px;
  width: 95%;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px auto;
  background-color: #dbf0fd;
  position: relative;
} 


.heading-info i {
  font-size: 30px;
  padding: 5px;
}

.heading-info .heading {
  position: absolute;
  top:9px;
  font-weight: bold;
  left: 50px;
}

.heading-info .desc {
  position: absolute;
  bottom: 9px;
  left: 50px;
}

.new-report-btn {
  padding: 10px;
  margin-left: 10px;
  height: 60px;
  background-color: #dbf0fd;
}

.new-report-btn .report-btn {
  padding: 10px 20px;
  width: 90%;
  background-color: skyblue;
  font-size: 15px;
  margin: auto;
}


.statistics {
  height: 130px;
}

.statistics > div {
  height: 110px;
}

.statistics > p {
  text-align: center;
}

.canvasjs-chart-credit {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .navbar .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1240px) {
 #page-body {
   width:100%;
   padding-left: 30px;
   padding-right: 30px;
 }
}

@media only screen and (max-width: 800px) {
  .heading-info > .desc {
    display: none;
  }
  .heading-info > .heading {
    top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .grid-box {
    grid-template-areas: 
    "new-report-btn new-report-btn new-report-btn new-report-btn"
      "report-statistics report-statistics report-statistics report-statistics"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
      "reports-info reports-info reports-info reports-info"
  }

  .report-statistics {
    margin-left: 0;
  }

  .new-report-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .reports-info{
    margin-top: 20px;
  }

  .report-statistics .statistics  {
    width: 100%;
  }

}