.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#statisticsHeader {
  padding-left: 30px;
  margin-top: 15px;
}

#pageBody {
  padding: 30px;
}

.search-bar {
  position: relative;
}

.search-bar .search-control {
  padding: 10px 10px 10px 35px;
  border-radius: 2px;
  border: 2px solid skyblue;
}

.search-bar .search-control:focus {
  border: 2px solid skyblue;
}

.search-bar #searchBarIcon {
  background-color: skyblue;
  position: absolute;
  border-radius: 2px;
  padding: 9px 9px;
  color: white;
  left: 0%;
  top: 0%;
}

.search-bar p {
  font-size: 12px;
  color: lightslategray;
}

.report-container {
  margin: 30px 5px;
  border-top: 2px solid skyblue;
  min-height: 300px;
}

.report {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

/*This element stays in the middle and should be strected complete. */
.report>.report-info {
  flex: 1;
  padding-left: 10px;
}

.empty-msg {
  text-align: center;
  color: #b7e2fc;
  padding: 25px 0px;
}

/* This is the report id for each of the report. */
.report>.report-id {
  color: skyblue;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #dfdfdf;
  padding: 10px;
}

/* The id inside of the parent. */
.report>.report-id>.id {
  font-size: 20px;
}

/* Report name styling for each report. */
.report .report-name {
  padding-bottom: 5px;
  font-weight: bolder;
}

/* This styling is for putting some space between childred the report-type-priority */
.report-type-priority>.badge:first-child {
  margin-bottom: 10px;
}

/* A badge consisting with a label and value which is used for showring report type and priority. */
.badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

/* This is the default styling for reportlabel. */
.badge>.badge-label {
  padding: 3px 5px;
  border-radius: 3px;
}

/* This is the default styling for badge value. */
.badge>.badge-value {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 3px 5px;
}

.high {
  background-color: #cc0000;
}

.med {
  background-color: darkgoldenrod;
}

.low {
  background-color: green;
}

.enhancement {
  background-color: rgba(0, 180, 0, 0.6);
}

.bug {
  background-color: #cc0000;
}

.feature {
  background-color: green;
}

.feature>i::after {
  font-style: normal;
  content: "\f013";
  font-family: 'FontAwesome';
}

.bug>i::after {
  font-style: normal;
  content: "\f188";
  font-family: 'FontAwesome';
}

.enhancement>i::after {
  content: '\f062';
  font-style: normal;
  font-family: 'FontAwesome';
}

.spinner-container {
  height: 300px !important;
}

@media only screen and (max-width: 1240px ) {
  #pageBody {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .header-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .search-bar .search-control {
    margin-top: 10px;
    width: 100%;
  }
  #searchBarIcon {
    margin-top: 10px;
  }
}

/* Hiding badge labels in low resolutions. */
@media only screen and (max-width: 480px) {
  .badge>.badge-label {
    display: none;
  }

  .badge>.badge-value {
    width: 100%;
    border-radius: 3px;
  }
}


