#pageBody {
    padding: 30px;
}

.header-wrapper{
    padding-bottom: 20px;
}

.header-wrapper > .header-info {
    font-size: 18px;
}

.data-table, .data-table-invite {
    width: 100%;
}

.data-table > thead, .data-table-invite > thead {
    background-color: skyblue;
    color: whitesmoke;  
}

.data-table th:first-child, .data-table-invite th:first-child {
    border-radius: 5px 0px 0px 0px;
}

.datat-table th:last-child, .data-table-invite th:last-child{
    border-radius: 0px 5px 0px 0px;
}

table.dataTable.no-footer {
    border-bottom: 1px solid skyblue;
}

div#DataTables_Table_0_filter {
    margin: 15px;
}

div#DataTables_Table_0_length {
    margin-top: 10px;
}

div#DataTables_Table_1_filter {
    margin: 15px;
}

div#DataTables_Table_1_length {
    margin-top: 10px;
}

.tab-navs {
    display:flex;
    justify-content: space-between;
}
.tab-navs li {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tab-navs li > i {
    font-size: 30px;
}

.tab-navs .tab-info {
    font-size: 18px;
    margin-left: 10px;
}

.tab-window {
    padding-top: 10px;
}

#inviteUserWindow {
    display: none;
}

#inviteUserWindow .header-wrapper {
    display: flex;
    justify-content: space-between;
}

#inviteUserWindow .header-wrapper .action-buttons {
    display: flex;
    align-items: center;
}

#inviteUserWindow .header-wrapper .action-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
}

.background-popup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000099;
}

.modal {
    width: 45% !important;
    height: auto !important;
    transform: translateY(20%) !important;
}

.modal-body > h3 {
    margin-bottom: 15px;
}

.form-control-checkbox + label {
    font-size: 14px;
}

.form-control-checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    background: #f3f3f3;
    height: 15px;
    vertical-align: middle;
}

.validation-feedback .error-exist {
    color: red;
}

.form-control-checkbox:checked::after{
    content: '\f00c' ;
    font-family: 'FontAwesome';
    position: absolute;
    left: 15%;
    top: 10%;
    text-decoration: solid;
    font-size: 10px;
    color: white;
}

.form-control-checkbox:checked{
    background-color: skyblue;
}

.cancel-btn {
    background-color: lightcoral
}

.active {
    border-radius: 2px solid skyblue !important;

}

@media only screen and (max-width: 1100px) and (min-width: 680px) {
    #pageBody {
        width: 80%;
        padding: 15px;
    }
}

@media only sceen and (max-width: 680px){
    #pageBody {
        width: 100%;
        padding: 15px 5px;
    }
}

@media only screen and (max-width: 400px) {
    .tab .tab-navs li {
        flex-direction: column;
    }
}