PROJECT:BLOG-SITE
USERS:
1-ADMIN
2-REGISTERED USERS
3-VISITORS
FUNCTIONALITIES:
		REGISTERED USERS
		Registerd users will have a profile or dashboard .It ll show all the important details entered by the user at the time of registration
		(userid,domain of interest, etc).user has to complete "about the author" section once registered and update profile picture.user can further modify
		the domain of interest section. 
		1.WRITE NEW POSTS(user can write a post and have two options either to publish it or save it as draft.if user tries to publish the post 
		it will be sent to admin for approval.
		2.DELETE  UNPUBLISHED POSTS (the unpublished posts i.e in the draft section can be deleted on user's request)
		3.EDIT/UPDATE POSTS(the user can edit the posts in the draft section.Also the post rejected by the admin will again be added to the draft section.)
		4.LIKE  POSTS(user can like any post)
		5.COMMENT ON POSTS(user can comment on any post)
		

		ADMIN
		Admin will have a profile or dashboard.it will show all the posts sent to him/her for approval.Admin can approve of the posts or reject it.if approved
		the status of the post will be changed from "unpublished" to "published".
		1.APPROVE THE  POSTS SUBMITTED BY THE REGISTERED USERS.
		2.DELETE THE PUBLISHED POST.
		3.REJECT THE POSTS WITH VALID COMMENTS.
		
		VISITORS
		1.CAN ACCESS ALL  POSTS(CANNOT LIKE, COMMENT NOR MESSAGE THE AUTHOR)

EXTRA FACILITIES:
LOGIN THROUGH GMAIL ID
SHARING OF THE POSTS ON RESPECTIVE SOCIAL MEDIA
PERSONAL MESSAGE TO THE AUTHOR.
ADMIN CAN WARN THE USER(S) AND IF REQUIRED DELETE THE USER(S) WHOSE POSTS ARE REJECTED MULTIPLE TIMES IN A STIPULATED PERIOD OF TIME.
STATISTICS (users can have an autogenerated statistics for his/her posts vs like..seen on different timelines like weekly,monthly,quaterly,half Yearly and annually.
	    admin will have an autogenerated statistics to reward the author of the week,month etc. 
 
		
